

.container{
   position: absolute;
   top: 2%; 
   left: 10%;
   right: 10%;
   width: 80%;
   height: 96%;
   text-align: center;
}
.win1,.win2,.win3,.win4{
    position: relative;
    top: 1%; 
    left: 1%;
    right: 1%;
    bottom: 1%;
    width: 98%;
    background-color: blue;
}

.first{
    position: absolute;
    top: 8%;
    left: 1%;
    right: 1%;
    bottom: 1%;
    width: 98%;
    height: 90%;
    border: 1px solid white;
    border-radius: 6px;
}

.second{
    position: absolute;
    top: 25%;
    left: 1%;
    bottom: 1%;
    width: 59%;
    height: 73%;
    border: 1px solid white;
    border-radius: 6px;
}

.third{
    position: absolute;
    top: 8%;
    left: 61%;
    bottom: 1%;
    width: 38%;
    height: 90%;
    border: 1px solid white;
    border-radius: 6px;
}

.fourth{
    position: absolute;
    top: 8%;
    left: 1%;
    right: 1%;
    bottom: 1%;
    width: 98%;
    height: 90%;
    border: 1px solid white;
    border-radius: 6px;
}

.fifth{
    position: absolute;
    top: 8%;
    left: 1%;
    right: 1%;
    bottom: 1%;
    width: 98%;
    height: 90%;
    border: 1px solid white;
    border-radius: 6px;

}
